<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This app is pulling data from mapbox and open weather map to pull the tempratur in any location in the world.</p>

    <p><img class="portrait" src="/img/me.png"></p>
    </div>

    {{>footer}}    
</body>

</html>